@(proposals: List[Proposal])

@main("Product List"){

<style type="text/css">
.list-style {
    max-width: 1000px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
  }

.list-style table {
	border-collapse: collapse;
	witdh: 100%;
}



.list-style legend {
		display: block;
    	font-size: 40px;
   		 margin-bottom: 30px;
}


.list-style p:nth-child(even) {background-color: #e8eeef;
				padding: 10px;	
				}

#button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.post-up span {
		cursor: pointer;
		display:inline-block;
		position: relative;
		transition:0.5s;		
}

.post-up span:after {
				content: '\2191';
				position: absolut;
				opacity: 0;
				top: 0;
				right: 25px;
				transition: 0.5s;
}

.post-up:hover span {
	padding-right: 25px;
}

.post-up:hover span:after {
	opacity: 10;
	right: 0;
}

.post-down span {
		cursor: pointer;
		display:inline-block;
		position: relative;
		transition:0.5s;		
}

.post-down span:after {
				content: '\2193';
				position: absolut;
				opacity: 0;
				top: 0;
				right: 25px;
				transition: 0.5s;
}

.post-down:hover span {
	padding-right: 25px;
}

.post-down:hover span:after {
	opacity: 10;
	right: 0;
}

</style>

<div class=list-style>

<legend>&nbsp; Proposal List</legend>

<input type="button" align="left" value="New Post" class="new-post"></input>


<fieldset align="right">
    List size: 
    <label for="radio-1">10</label>
    <input type="radio" name="radio-1" id="radio-1">
    <label for="radio-2">20</label>
    <input type="radio" name="radio-1" id="radio-2">
    <label for="radio-3">All</label>
    <input type="radio" name="radio-1" id="radio-3">
  </fieldset>

<legend> </legend>
  
<table>
		@for(proposal <- proposals.sortBy(- _.rank)) {
  			<p><font size="5">&nbsp; @proposal.name</font><br><br>
			 &nbsp; &nbsp; @proposal.description <br><br> Rank: @proposal.rank <br> Created: @proposal.date <br> Last updated: @proposal.udate
			 <input type="button" align="right" value="Promote" data-uuid="@proposal.uuid.get()" data-rank="" id=button class="post-up"></input> 
			 <input type="button" align="right" value="Demote" data-uuid="@proposal.uuid.get()" data-rank="" id=button class="post-down"></input> 
			 <input type="button" align="right" value="Update" data-uuid="@proposal.uuid.get()"  class="update-form"></input>                           
			 <input type="button" aling="right" value="Delete" data-uuid="@proposal.uuid.get()"  class="delete"></input>
			</p>	
}
</table>
</div>
}